# End to End Toy Project

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading csv file
df = pd.read_csv("placement-2.csv")

In [3]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [7]:
# Shape of the data frame
df.shape

(100, 3)

# Steps

1. Preprocess + EDA + Feature Selection
2. Extract input and output cols
3. Scale the values
4. Train test split
5. Train the model
6. Evaluate the model/model selection
7. Deploy the model

In [8]:
# Pre-processing
df.info()
# We can observe that there is no missing values.
# Relevant data types are assigned to the column.
# Duplicates are checked.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cgpa       100 non-null    float64
 1   iq         100 non-null    float64
 2   placement  100 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [9]:
# checking duplicated
df.duplicated().sum()
# As we can see there is no duplicates in the data

0

In [4]:
# The only processing is observed over is removing the first un-necessary column
# Dropping the first column
df.drop(columns=df.columns[0], axis=1,  inplace=True)

In [5]:
df.head()

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0