# Importing Library

In [2]:
import pandas as pd
import requests

In [4]:
# Passing the API URL
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

General Idea: Python using requests library hitting request to api http, in return api gives back the data based
on the request.
Reponse meaning
1. 200 - Got back the expected response
2. 404 - Page not available
3. 500 - Server down

# Fetching Json and converting it to Data Frame

In [12]:
# Converting the data in JSON
temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity',
                                                 'vote_average', 'vote_count']]

In [13]:
df.head(5)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,160.639,8.708,19016
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,137.689,8.705,25006
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,82.973,8.590,11480
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,83.051,8.571,14821
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,44.336,8.546,4286

# Iterating all pages

In [5]:
df = pd.DataFrame()

In [7]:
for i in range(1, 4):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity',
                                                 'vote_average', 'vote_count']]
    df = df.append(temp_df, ignore_index = True)

/var/folders/_m/_0hzmbf1467gxwxv0b95v6_80000gn/T/ipykernel_70224/1445349702.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_df, ignore_index = True)
/var/folders/_m/_0hzmbf1467gxwxv0b95v6_80000gn/T/ipykernel_70224/1445349702.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_df, ignore_index = True)
/var/folders/_m/_0hzmbf1467gxwxv0b95v6_80000gn/T/ipykernel_70224/1445349702.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(temp_df, ignore_index = True)

In [8]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,160.639,8.708,19016
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,137.689,8.705,25006
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,82.973,8.590,11480
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,83.051,8.571,14821
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,44.336,8.546,4286
5,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,49.676,8.545,7811
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,107.032,8.540,15150
7,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,125.022,8.515,16700
8,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,111.782,8.513,30983
9,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,76.314,8.509,16172
10,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,98.785,8.505,10528
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,84.036,8.489,26196
12,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,125.995,8.476,22617
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,110.736,8.476,25715
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,67.886,8.470,7894
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,83.482,8.466,11920
16,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-15,0.600,8.456,4963
17,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,52.527,8.455,12369
18,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,45.895,8.453,3297
19,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,38.706,8.449,4020
20,667257,Impossible Things,"Matilde is a woman who, after the death of her...",2021-06-17,16.071,8.442,360
21,550,Fight Club,A ticking-time-bomb insomniac and a slippery s...,1999-10-15,107.008,8.440,27579
22,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,2020-05-29,13.435,8.438,2372
23,539,Psycho,When larcenous real estate clerk Marion Crane ...,1960-06-22,44.470,8.435,9414
24,598,City of God,"In the slums of Rio, two kids' paths diverge a...",2002-08-30,36.641,8.433,6790
25,311,Once Upon a Time in America,A former Prohibition-era Jewish gangster retur...,1984-05-23,47.946,8.428,4947
26,724089,Gabriel's Inferno: Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,15.451,8.425,1486
27,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",2016-02-20,16.848,8.422,328
28,510,One Flew Over the Cuckoo's Nest,A petty criminal fakes insanity to serve his s...,1975-11-19,45.556,8.422,9766
29,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,184.395,8.421,33007
30,568332,Taylor Swift: Reputation Stadium Tour,Taylor Swift takes the stage in Dallas for the...,2018-12-31,26.287,8.412,313
31,761053,Gabriel's Inferno: Part III,The final part of the film adaption of the ero...,2020-11-19,31.882,8.406,1030
32,324857,Spider-Man: Into the Spider-Verse,Struggling to find his place in the world whil...,2018-12-06,115.072,8.406,14272
33,14537,Harakiri,Down-on-his-luck veteran Tsugumo Hanshirō ente...,1962-09-15,24.780,8.406,861
34,120,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",2001-12-18,116.203,8.405,23587
35,40096,A Dog's Will,The lively João Grilo and the sly Chicó are po...,2000-09-15,9.577,8.400,1025
36,4935,Howl's Moving Castle,"Sophie, a young milliner, is turned into an el...",2004-09-09,118.284,8.404,8895
37,620249,The Legend of Hei,When cat spirit Luo Xiaohei's home is deforest...,2019-08-27,25.780,8.402,311
38,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,339.874,8.402,5014
39,378064,A Silent Voice: The Movie,Shouya Ishida starts bullying the new girl in ...,2016-09-17,65.392,8.396,3625
40,1891,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",1980-05-20,43.247,8.391,15937
41,121,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,2002-12-18,110.388,8.388,20507
42,255709,Hope,After 8-year-old So-won narrowly survives a br...,2013-10-02,25.305,8.385,599
43,244786,Whiplash,"Under the direction of a ruthless instructor, ...",2014-10-10,101.559,8.384,14076
44,423,The Pianist,The true story of pianist Władysław Szpilman's...,2002-09-17,61.052,8.384,8484
45,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,29.289,8.378,422
46,807,Se7en,Two homicide detectives are on a desperate hun...,1995-09-22,93.565,8.370,19667
47,92321,Hotarubi no Mori e,One hot summer day a little girl gets lost in ...,2011-09-17,0.600,8.366,1007
48,27205,Inception,"Cobb, a skilled thief who commits corporate es...",2010-07-15,138.037,8.366,34822
49,567,Rear Window,A wheelchair-bound photographer spies on his n...,1954-08-01,31.975,8.358,5988
50,820067,The Quintessential Quintuplets Movie,When five lovely young girls who hate studying...,2022-05-20,46.235,8.361,337
51,73,American History X,Derek Vineyard is paroled after serving 3 year...,1998-07-01,46.477,8.350,10861
52,274,The Silence of the Lambs,Clarice Starling is a top student at the FBI's...,1991-02-14,13.986,8.344,15237
53,128,Princess Mononoke,"Ashitaka, a prince of the disappearing Emishi ...",1997-07-12,60.515,8.337,7347
54,18491,Neon Genesis Evangelion: The End of Evangelion,The second of two theatrically released follow...,1997-07-19,40.720,8.334,1409
55,914,The Great Dictator,Dictator Adenoid Hynkel tries to expand his em...,1940-10-15,28.695,8.333,3085
56,599,Sunset Boulevard,A hack screenwriter writes a screenplay for a ...,1950-08-17,33.826,8.333,2361
57,3782,Ikiru,Kanji Watanabe is a middle-aged man who has wo...,1952-10-09,28.430,8.330,996
58,652837,"Josee, the Tiger and the Fish","With dreams of diving abroad, Tsuneo gets a jo...",2020-12-25,30.433,8.328,379
59,12493,High and Low,A shoe company executive who has mortgaged eve...,1963-03-01,18.982,8.321,769